<div class="container-fluid" *ngIf="$visitante | async as visitanteData">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                    <div class="navbar-brand col-sm-3 col-md-2 mr-0 pt-3 pb-2 mb-3 border-bottom">
                        <h2 class="h2">Perfil de
                            {{(visitanteData.displayName) ? visitanteData.displayName : 'Visitante'}}</h2>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">


                <!-- Show user data when logged in -->
                <div class=" row ">
                    <div class="col-md-12 ">
                        <div class="media ">
                            <img class="align-self-start mr-5 img-thumbnail rounded-circle "
                                src="{{(visitanteData.photoURL) ? visitanteData.photoURL : '/assets/dummy-user.png'}} "
                                alt="{{visitanteData.displayName}} ">
                            <div class="media-body ">
                                <h1>Olá:
                                    <strong>{{(visitanteData.displayName) ? visitanteData.displayName : 'visitante'}}</strong>
                                </h1>
                                <p>ID do visitante: <strong>{{visitanteData.uid}}</strong></p>
                                <p>Email: <strong>{{visitanteData.email}}</strong></p>
                                <p>Email Verificado: <strong>{{visitanteData.emailVerified}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div mySpy class="row" *ngIf="voluntario; then listaPapeis; else confirmaVoluntariado">
                </div>
                <ng-template #listaPapeis>
                    <app-listar-papeis-voluntario [voluntario]="voluntario">
                    </app-listar-papeis-voluntario>
                </ng-template>
                <ng-template #confirmaVoluntariado>
                    <p>Deseja realmente se tornar um voluntário?</p>
                    <p>Clique no botão abaixo para confirmar seu desejo, mas antes marque a caixa de seleção
                        confirmando quê está ciênte das responsabilidades que está assumindo se tornando um
                        voluntário do StreetPet.</p>
                    <section class="">
                        <mat-radio-group [(ngModel)]="voluntariadoConfirmado">
                            &nbsp;
                            <mat-radio-button value="false">Nâo</mat-radio-button>
                            &nbsp;
                            <mat-radio-button value="true">Sim</mat-radio-button>
                            , estou ciente!
                        </mat-radio-group>
                    </section>

                    <button class="action " (click)="tornarSeVoluntario()">
                        <mat-icon class="icon ">assignment_ind</mat-icon><span>Tornar-se um voluntário.</span>
                    </button>
                </ng-template>
            </div>
        </main>
    </div>
</div>