<div>
   <div class="row">
      <div class="col col-md-2 image-col">
         <img class="image" [src]="voluntario.avatar">
      </div>
      <div class="col col-md-8 text-col">
         <h5 class="mb-1">{{voluntario.nome}} {{voluntario.sobrenome}}</h5>
      </div>
   </div>
   <mat-card>
      <mat-card-content>
         <h2 class="papeis-h2">Papeis Desempenhados pelo Voluntário</h2>
         <p>Os papeis selecionados abaixo são desempenhados pelo voluntario, os que são marcados com um traço, estão aguardando aprovação de um Administrador do Sistema.</p>
         <section class="papeis-section container-fluid row">
            <div class="col col-3" *ngFor="let papel of $papeis | async" >
            <mat-checkbox class="col col-2" class="papeis-margin" [checked]="checkPapel(papel) | async" [indeterminate]="waittingPapel(papel)|async" (click)="clickCheckPapel(papel)" labelPosition="after"
            [matTooltip]="papel.descricao">
               {{papel.nome}}
            </mat-checkbox>
            <div class="col col-1"></div>
         </div>
         </section>
      </mat-card-content>
   </mat-card>
</div>